aiohttp
aiosignal
async-timeout
attrs
charset-normalizer
click
colorama
discord
discord.py
dnspython
Flask
Flask-PyMongo
frozenlist
idna
itsdangerous
Jinja2
MarkupSafe
multidict
pymongo
python-decouple
Werkzeug
yarl